<h4 class="mdl-dialog__title">Simulacija</h4>
<div class="mdl-dialog__content">
    <select [(ngModel)]="config.method">
        <option *ngFor="#method of methods" [value]="method.className">{{method.description}}</option>
    </select>
    <div class="mdl-textfield">
        <label>Interval:</label>
        <input type="number" class="mdl-textfield__input" step="any"
               [(ngModel)]="config.integrationInterval">
    </div>
    <div class="mdl-textfield">
        <label>Trajanje:</label>
        <input type="number" class="mdl-textfield__input" step="any" [(ngModel)]="config.duration">
    </div>
    <label class="mdl-checkbox" for="optimizeAsync" *ngIf="isAsync">
        <input type="checkbox" id="optimizeAsync" checked class="mdl-checkbox__input"
               [(ngModel)]="config.optimizeAsync">
        <span class="mdl-checkbox__label">Optimizuj asinhrone pozive</span>
    </label>
</div>
<div class="mdl-dialog__actions">
    <button type="button" class="mdl-button mdl-button--colored" (click)="run()">
        Pokreni <span class="material-icons">play_arrow</span>
    </button>
    <button type="button" class="mdl-button" (click)="close()">Zatvori</button>
</div>
